
<div class="container">

<!-- GRATCHCARD START -->

<% @gratches.each do |gratch| %>
<% host = User.find_by(:id => gratch.host_id) %>
<% showups = Showup.where(:gratch_id => gratch.id).count %>

<div class="gratch">

<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="<%= host.image %>" width="70px" height="70px" class="img img-circle">
    </div>

    <div class="col-xs-8 card_details">
     <!--  <h4>Wien // 18.08.2014 // 7pm</h4> -->
      <h3><%= host.name %></h3>
      <p>and <%= showups %> friends are hosting a<br><span class="party_type"><%= gratch.party_type %></span></p>
    </div>

  </div>

</div>

<!-- START OVERVIEW DETAILS -->

<div class="overview">

<div class="row gratch_header">
  <div class="col-xs-4">
    <p><i class="fa fa-calendar-o fa-2x"></i><br><%= gratch.datetime.strftime("%e.%m.%Y") %></p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-clock-o fa-2x"></i><br><%= gratch.datetime.strftime("%H:%M") %></p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-home fa-2x"></i><br><%= gratch.city %></p>
  </div>

</div>

</div>

<!-- END OVERVIEWDETAILS -->

<!-- START SPECIFIC DETAILS -->

<div class="specific" style="display: none">



<div class="row gratch_header">
  <div class="col-xs-4">
    <p><i class="fa fa-male fa-2x"></i><br><%= gratch.gender_ratio %>% Boys</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-heart fa-2x"></i><br><%= gratch.single_ratio %>% Singles</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-glass fa-2x"></i><br>Free Drinks</p>
  </div>

</div>

</div>

<!-- END SPECIFIC DETAILS -->

<!-- START LINKLIST -->

<div class="row gratch_header click_list">
  <div class="col-xs-4" id="click_gratch_friends">
    <p><i class="fa fa-users fa-2x"></i><br>Paul's guests</p>
  </div>
  <div class="col-xs-4" id="click_gratch_details">
    <p><i class="fa fa-navicon fa-2x"></i><br>Gratch Details</p>
  </div>
  <div class="col-xs-4" style="color: #e74c3c">
    <p><i class="fa fa-check fa-2x"></i><br>Join them</p>
  </div>

</div>

<!-- END LINKSLIST -->


<!-- START FRIENDLIST -->

<div class="friends" style="display: none">

<!-- START FRIIENDLIST-ITEM -->

<% friends = gratch.guests %>
<% friends.each do |f| %>
<%  guest = User.find_by(:id => f) %>
<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="<%= guest.image %>" class="img img-circle" width="70px" height="70px">
    </div>

    <div class="col-xs-4 card_details friend_list">

      <h4>GUEST</h4>
      <h3><%= guest.name %></h3>
      <p>31 years old</p>
    </div>

    <div class="col-xs-4 facebook_logo">

      <a href="https://www.facebook.com/paul.lehner.9" target="_blank"><img src="http://3.bp.blogspot.com/-ZEMBg7Sl--4/U8K3mJW2MPI/AAAAAAAAAYg/I6NRd4-wmIM/s1600/facebook-logo-png-white-5117.png" width="40px" height="40px"> </a>

    </div>

  </div>

</div>
<% end %>
<!-- END FRIENDLIST-ITEM -->



</div>

<!-- END FRIENDLIST -->




</div>

<% end %>

</div>


<!-- GRATCHCARD END -->




</div>


<%= link_to 'New Gratch', new_gratch_path %>
