<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @gratch.host_id %>
</p>

<p>
  <strong>Bro1:</strong>
  <%= @gratch.bro1_id %>
</p>

<p>
  <strong>Bro2:</strong>
  <%= @gratch.bro2_id %>
</p>

<p>
  <strong>Bro3:</strong>
  <%= @gratch.bro3_id %>
</p>

<p>
  <strong>Bro4:</strong>
  <%= @gratch.bro4_id %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @gratch.datetime %>
</p>

<p>
  <strong>City:</strong>
  <%= @gratch.city %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @gratch.adress %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @gratch.zipcode %>
</p>

<%= link_to 'Edit', edit_gratch_path(@gratch) %> |
<%= link_to 'Back', gratches_path %>
