<body>

<div class="container">

  <%= render 'nav' %>

  <div class="container">

    <div class="gratch">

      <div class="row gratch_application">

        <div class="myfriends_list">

          <h2>Please choose your friends.</h2>

          <p> <span style="font-size: 7px">Your friends have to be on Gratch to be listed here (say THX to Facebook...)</span></p>



                  <%= form_for @bid do |f| %>

                  <% collection_of_friends = current_user.facebook_friends_collection %>


                  <div class="gratch_card">

                  <% collection_of_friends.each do |c| %>



                      <label for="<%= c['id'] %>">
                        <div class="row gratch_preview">
                          <div class="col-xs-4 card_picture">
                            <img src="http://graph.facebook.com/<%= c['id'] %>/picture" class="img img-circle" width="70px" height="70px">
                          </div>
                          <div class="col-xs-5 card_details friends_list">
                            <h4>FRIEND</h4>
                            <h3 style="color: #2c3e50"><%= c['name'] %></h3>
                          </div>
                          <div class="col-xs-3">
                            <div class="roundedTwo">
                              <%= f.check_box :id, {:multiple => true}, c['id'], nil   %>
                            </div>
                          </div>
                        </div>
                      </label>

                  <% end %>
                  <!-- END OF FORMTAG -->

                  <%= f.text_area :message %>

                  <%= submit_tag 'Send' %>

                  <% end %>

                   </div>
                   <!-- END OF DO LOOP -->

            <!--  -->
                  <!-- END OF IF STATEMENT -->


        </div>

      </div>


    </div>
  </div>

</div>

</body>
